* {
    font-family: "Poppins", sans-serif;
}
.inner {
    width: 70%;
}
.title {
    text-align: center;
    h2 {
        font-weight: 700;
        font-size: 4.8rem;
        font-family: "Lato", sans-serif;
    }
}
.box-code {
    display: flex;
    margin: 5px 0;
}
.inputCode {
    flex-grow: 1;
    padding: 8px 10px;
    border-radius: var(--border-radius);
}
.btn-resend {
    color: white;
    padding: 0 15px;
    border: none;
    outline: none;
    background: var(--grey-300);
    margin-left: 5px;
}
.otp {
    font-size: 1.4rem;
    margin-left: 5px;
    margin-bottom: 15px;
    color: var(--primary-orange-500);
}
.btnSubmit {
    width: 100%;
}
