.ticket {
    width: 1040px;
    text-align: center;
    padding: 10px 0;
    margin: 30px auto;
    border: 1px solid var(--grey-300);
    border-radius: var(--border-radius);
    border-collapse: separate;

    td:first-child {
        padding-left: 10px;
    }

    button {
        min-width: 141px;
        min-height: 42px;
        color: white;
        border: none;
        background: var(--primary-orange-500);
    }
}

.title,
.second-text,
.price {
    font-weight: 600;
}
.second-text,
.price {
    font-size: 2rem;
}
.last-text {
    font-weight: 400;
    font-size: 1.4rem;
}
.hide {
    opacity: 0;
}
