.ticket {
    // width: calc(var(--max-width) - 160px);
    padding: 10px 0;
    margin: 30px auto;
    border: 1px solid var(--grey-300);
    border-radius: var(--border-radius);
}
.inner {
    display: grid;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        line-height: 2;
    }

    .title,
    .second-text {
        font-size: 1.6rem;
        font-weight: 600;
    }
    button {
        color: white;
        padding: 10px 15px;
        border: none;
        background: var(--primary-orange-500);
    }
}
