.guide-box {
    display: flex;
    align-items: center;
    background: var(--green-100);
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 15px 0;
}
.icon-infor {
    margin-right: 20px;
}
.guide-text {
    font-size: 1.4rem;
    color: var(--green-600);
}
