.guideBox {
    max-width: 1045px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 15px 0;
}
.bggreen {
    background: var(--green-100);
}
.bgblue {
    background: #e5f8ff;
}
.iconInfor {
    margin-right: 20px;
}
.guideText {
    font-size: 1.4rem;
}
.icgreen,
.clgreen {
    color: var(--green-600);
}
.icblue,
.clblue {
    color: #005fe3;
}
