* {
    font-family: "Poppins", sans-serif;
}
.inner {
    width: 70%;
}
.title {
    text-align: center;
    h2 {
        font-weight: 700;
        font-size: 4.8rem;
        font-family: "Lato", sans-serif;
    }
}
.guide-box {
    display: flex;
    align-items: center;
    background: var(--green-100);
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 15px 0;
}
.icon-infor {
    margin-right: 20px;
    color: #276955;
}
.guide-text {
    font-size: 1.4rem;
    color: var(--green-600);
    line-height: 2.7rem;
}
.inputFullwidth {
    padding: 8px;
    border-radius: var(--border-radius);
    width: 100%;
    margin-top: 5px;
}

.message-invalid {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-orange-500);
    margin-bottom: 5px;
}

.button {
    margin-top: 1rem;
    float: right;
    overflow: hidden;

    .btn-left {
        padding: 0.5rem 1rem;
        background-color: transparent;
        border: 1px solid var(--primary-orange-500);
        color: var(--primary-orange-500);
        outline: transparent;
        font-size: 1.6rem;
    }
    .btn-right {
        margin-left: 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--primary-orange-500);
        border-color: var(--button-color);
        border: none;
        font-size: 1.6rem;
        color: white;
    }
}
.errormessage {
    font-style: italic;
    font-size: 1.4rem;
    color: var(--primary-orange-500);
}
