.space {
    height: var(--height-header);
}
.ticket {
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid var(--grey-950);
}
.train {
    width: 400px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    margin: 30px auto;
    img {
        width: 100%;
        cursor: pointer;
    }
    .body-train {
        padding: 10px;
        border-radius: var(--border-radius);
        border: 1px solid var(--grey-200);
    }
    .full {
        background: var(--primary-orange-500);
        border: none;
    }
}
.coach-name {
    text-align: center;
}
.explaination {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 30px;
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid black;
        margin-right: 10px;
    }
    .explaination-item {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .circle-green {
        background: #5daa8f;
    }
    .circle-red {
        background: var(--selected);
    }
}

.seats-standard {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    margin-top: 30px;

    table {
        width: 530px;
        border-spacing: 15px;
        border-collapse: separate;
    }
    table td {
        text-align: center;
        height: 59.83px;
        border-radius: var(--border-radius);
        cursor: pointer;
    }

    .table-left {
        padding-right: 5px;
        border-right: 3px solid #818181;
    }
    .table-right {
        padding-left: 5px;
    }
    .space-table {
        height: 20px;
    }
}
.seats-four_cabins {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;

    table {
        border-spacing: 10px;
        border-collapse: separate;
    }
    table th {
        text-align: center;
    }
    table td {
        width: 60px;
        height: 59.83px;
        text-align: center;
        border-radius: var(--border-radius);
        cursor: pointer;
    }
}

.confirm-box-wrapper {
    width: 1040px;
}
.confirm-box {
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid var(--primary-orange-500);
    border-radius: var(--border-radius);
    margin-top: 30px;
    margin-bottom: 60px;

    .quantity,
    .subtotal {
        font-size: 2.5rem;
        color: var(--primary-orange-500);
    }
}
.btn-continue {
    width: 110px;
    height: 60px;
    color: white;
    font-size: 1.6rem;
    background: var(--primary-orange-500);
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 60px;
    justify-self: end;
}
