// ---------------- header ------------------
.header {
    display: flex;
    justify-content: center;
    height: var(--height-header);
    box-shadow: 0 0 10px #ddd;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background: white;
}
.inner-header {
    width: var(--max-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-orange-500);
    // background-color: #ccc;
}
.icon-header {
    padding-right: 10px;
}
.logo {
    font-size: 2.5rem;
    cursor: pointer;
}
.language {
    text-align: center;
    cursor: pointer;
}

// -------------- body ---------------

// ---------- sign in ----------
.wrapper-signin {
    width: 100%;
    height: 77vh;
    background-image: url("https://images.unsplash.com/photo-1588776873786-a51f317c3dbf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: var(--height-header);
    padding-bottom: var(--height-footer-mini);
}
.signin_box {
    width: 430px;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 10%;
    background: white;
    border-radius: var(--border-radius);
}
.form-signin {
    font-family: "Poppins", sans-serif;

    .alert-wrong-authen {
        visibility: hidden;
        font-size: 1.4rem;
        color: var(--primary-orange-500);
        text-align: center;
        margin: 5px 0;
    }

    .label-field,
    .inputField,
    button {
        font-family: "Poppins", sans-serif;
        display: block;
    }

    .inputField {
        min-width: 357px;
        padding: 8px;
        border-radius: var(--border-radius);
        outline: none;
    }
    .message-invalid {
        visibility: hidden;
        color: var(--primary-orange-500);
        font-size: 1.3rem;
        margin: 5px 0;
    }

    .checkbox-remember {
        transform: scale(1.5);
        margin-right: 10px;
    }
    .forget_password {
        color: var(--blue-link);
        float: right;
    }

    .btnSignin {
        width: 100%;
        margin: 15px 0;
    }
}
.ask-signup {
    text-align: center;

    a {
        color: var(--blue-link);
    }
}
