.wrapper {
    margin-top: 88px;
}
.inner {
    margin: 6rem 16rem;
    .para {
        text-align: justify;
    }
    .info {
        text-align: center;

        .icon-infor {
            padding-top: 3rem;
            padding-bottom: 3rem;
            color: #3b8e73;
            height: 5rem;
            width: 5rem;
        }
        h3 {
            font-size: 35px;
            color: #3b8e73;
            margin-bottom: 4rem;
        }
    }
    p {
        font-weight: 350;
        font-size: 18px;
    }
}
.ticket {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;

    .ticket-detail {
        padding: 2rem 5rem;
        border: 2px solid gray;
        border-radius: 2rem;
        width: 80%;
        .ticket-id {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
            .id {
                font-weight: 700;
                font-size: 16px;
            }
            .id-number {
                font-size: 16px;
                font-weight: 400;
                margin-left: 3px;
            }
        }
    }
    .ticket-qr {
        display: flex;
        flex-direction: column;
        width: 20%;
        // align-items: center;
        justify-content: center;
        img {
            width: 220px;
            height: 220px;
        }
        .ticket-scan {
            color: #7f8591;
            width: 120px;
            text-align: center;
            width: 120px;

            margin: 0 auto;
        }
    }
}
.route {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 6rem;
    margin-bottom: 5rem;
    img {
        height: 20px;

        margin: auto 0;
    }
    .departure,
    .arrival {
        display: flex;
        flex-direction: column;
        .city {
            font-weight: 600;
            font-size: 2.5rem;
        }
    }
}
.information {
    span {
        color: #ea4e22;
        font-size: 18px;
    }
    .row {
        margin-bottom: 0.8rem;
    }
    .row-2 {
        width: 50%;
    }
    .col1 {
        font-weight: 600;
        font-size: 13px;
    }
    .col2 {
        font-weight: 400;
        font-size: 13px;
    }
    hr {
        border-top: 1px dashed;
    }
}
.ticket-btn {
    margin-top: 5rem;
    text-align: center;
    .up {
        margin-left: 3rem;
    }
}
button {
    height: 42px;
    font-size: 16px;
    border-radius: 8px;
    padding: 1rem 2rem;
}
.up {
    border: none;
    outline: transparent;
    margin: 2rem 0;
    color: white;
    background-color: #ea4e22;
}
.down {
    border: 1px solid #ea4e22;

    background-color: transparent;
    color: #ea4e22;
}
.term {
    text-align: center;
    margin-top: 3rem;
    span {
        margin-right: 2rem;
        font-size: 18px;
    }
}
