.date {
    display: flex;
    width: 60%;
    height: 85px;

    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    float: right;
    align-items: center;
}

.content {
    height: 100%;
    width: 100%;
    border: transparent;
    text-align: center;
    font-size: 1.8rem;
}
.Datepicker_date__sxmvN {
    width: 77px !important;
}
