* {
    font-family: "Poppins", sans-serif;
}
.inner {
    width: 70%;
}
.title {
    text-align: center;
    h2 {
        font-weight: 700;
        font-size: 4.8rem;
        font-family: "Lato", sans-serif;
    }
}

.inputThirdwidth {
    padding: 8px;
    border-radius: var(--border-radius);
    width: 69%;
    margin-top: 5px;
    font-size: 1.6rem;
}
.otp {
    margin-top: 0.5rem;
    color: var(--primary-orange-500);
    font-size: 1.4rem;
    font-weight: 400;
}
.resend {
    padding: 8px;
    border-radius: var(--border-radius);
    margin-top: 5px;
    background-color: var(--grey-300);
    color: white;
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-weight: 300;
    width: 30%;
    margin-left: 0.5rem;
}
.button {
    margin-top: 1rem;
    float: right;
    overflow: hidden;

    .btn-left {
        padding: 0.5rem 1rem;
        background-color: transparent;
        border: 1px solid var(--primary-orange-500);
        color: var(--primary-orange-500);
        outline: transparent;
        font-size: 1.6rem;
    }
    .btn-right {
        margin-left: 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--primary-orange-500);
        border-color: var(--button-color);
        color: white;
        border: none;
        font-size: 1.6rem;
    }
}
