.title {
    text-align: center;
    margin-bottom: 10px;

    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        font-family: "Lato", sans-serif;
    }
    .title-brand {
        color: var(--primary-orange-500);
    }
}
label,
input {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
}
.inputFullwidth {
    padding: 8px;
    border-radius: var(--border-radius);
    width: 100%;
    margin-top: 5px;
}
.inputHalfwidth {
    padding: 8px;
    border-radius: var(--border-radius);
    margin-left: 10px;
    // margin-bottom: 20px;
    margin-top: 5px;
}
input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    margin-left: 5px;
}
.btnSignup {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.ask-agree {
    a {
        color: var(--blue-link);
    }
}
.message-invalid {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-orange-500);
    margin-bottom: 5px;
}
.ask-signin {
    margin-top: 5px;
    text-align: center;
    a {
        color: var(--blue-link);
    }
}
