.header {
    height: var(--height-header);
    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 0 0 10px #ccc;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
}
.inner-header {
    width: var(--max-width);
    height: 100%;
    display: flex;
    font-size: 1.5rem;
}
.logo {
    color: var(--primary-orange-500);
    font-size: 2.5rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: var(--primary-orange-500);
    }
}
.inner-right {
    a {
        color: var(--primary-orange-500);
        text-decoration: none;
        padding: 10px;

        &:hover {
            color: var(--primary-orange-500);
        }
    }
}
.box-navigate {
    width: 176px;
    height: 66px;
    background: white;
    padding: 0 18px;
    color: var(--primary-orange-500);
    border: 2px solid var(--primary-orange-500);
    border-radius: 50px;
    margin-left: 30px;
    cursor: pointer;

    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}
.icon-header {
    color: var(--primary-orange-500);
    padding-right: 10px;
}
.icon-header-global {
    margin-left: 20px;
    cursor: pointer;
}
