.inner {
    width: 70%;
}
.title {
    text-align: center;

    h2 {
        font-weight: 700;
        font-size: 4.8rem;
        font-family: "Lato", sans-serif;
    }
}

.btnSubmit {
    width: 100%;
}
